<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GUILayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="MSE_REST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="TEST_MSE_REST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <!--
      Store the log information using a rolling file appender with a rolling date.
      This section to be edited for application specific settings.
      -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="c:\Logs\2020_Ticker_%date{yyyyMMdd}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger:%message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="AppVersion" value="6.3"/>
    <!--
      APPLICATION IDs!!!!!!
      
      ANY CHANGES TO IPs, PORTS, NETWORK NAMES, OR CONNECTION STRINGS MUST BE MADE IN THE ELECTION_CONFIG FILE!!!
    
      0 = Testing ENGINE
      1 = NY MC FNC PRI
      2 = NY MC FNC BKUP
      3 = NY MC FBN PRI
      4 = NY MC FBN BKUP
      5 = DC MC FNC
      6 = DC MC FBN
      7 - NY MC Cutin FNC
      8 - NY MC Cutin FBN
    -->
    <add key="ApplicationID" value="0"/>
    <add key="GetPromos" value="getFE_PreDataTickerPromos"/>
	<!--NO LONGER IN USE, COMES FROM DB NOW <add key="ScenePath" value="/_ELECTIONS/2024/PRIMARIES/FNC/FINALS/TICKER_V7"/>-->
    <!--!<add key="ScenePath" value="_ELECTIONS/2022/MIDTERMS/FNC/FINALS/TICKER_V84"/>-->
    <!--<add key="ScenePath" value="_ELECTIONS/2022/PRIMARIES/FNC/FINALS/2020_PRIMARIES_TICKER" />-->
    <add key="SidePanelPath" value="_ELECTIONS/2022/MIDTERMS/FNC/FINALS/PREDATA_PANEL_V4"/>
    <add key="GetRaces_" value="getFGETickerRaceListPrimaries"/>
    <add key="GetRaces" value="dbo.getVDSRaceList"/>
    <add key="GetStateFacts" value="getFE_PreDataTickerFacts"/>
    <add key="GetStateDelegates" value="getFE_PreDataTickerDelegatesByState"/>
    <add key="GetStateClosings" value="getFE_PreDataTickerPollClosingTime"/>
    <add key="GetNextPollTime" value="getVDSNextPollClosingTime"/>
    <add key="GetPollByTime" value="getVDSNextPollClosings"/>
    <add key="GetRaceDataByState_" value="getFGERacesByState_Primaries"/>
    <add key="GetRaceDataByState" value="getFGERacesByState"/>
    <add key="GetBop" value="getVDSBalanceOfPowerAuto"/>
    <add key="GetElectVotes" value="getFGEElectoralCollegeVotes"/>
    <add key="GetVoterAnalysisData" value="getFE_VoterAnalysisData_TKR_New"/>
    <add key="GetDelegateCounts" value="spGetCandidateDelegateTotals"/>
    <add key="GetNetGainText" value="getFE_BoPControlNumber"/>
    <add key="SidePanelTable" value="Side_Panel"/>
    <add key="TickerStackID" value="99999999999999"/>
    <add key="stackElementTable" value="Stack_Elements"/>
    <add key="stackElementTableC1" value="VA_Data_ID"/>
    <add key="stackElementTableC2" value="VA_Type"/>
    <add key="flagsTable" value="dbo.VDS_Flags"/>
    <add key="simulatedTimeTable" value="dbo.VDS_BOP_Data"/>
    <add key="ApplicationLogTable" value="VDS_Application_Log"/>
    <add key="shmKey1" value="CANDIDATE_DATA_BROKER"/>
    <add key="shmKey2" value="TICKER_MODES"/>
    <add key="shmKey3" value="DATA_MODES"/>
    <add key="shmKey4" value="NETWORK_MODES"/>
    <add key="shmKey5" value="DELEGATE_TRACKER"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="RaceDataDwell" value="5000"/>
    <add key="PreDataDwell" value="8000"/>
    <add key="Facts2Show" value="10"/>
    <add key="BopTime" value="2"/>
    <add key="BopOption" value="Both"/>
    <add key="PopTime" value="1"/>
    <add key="ElecTime" value="3"/>
    <add key="NetTime" value="5"/>
    <add key="BopCheck" value="true"/>
    <add key="PopCheck" value="true"/>
    <add key="ElecCheck" value="true"/>
    <add key="NetCheck" value="true"/>
    <add key="UseRight" value="false"/>
    <add key="PollClose" value="true"/>
    <add key="OneLineCands" value="3"/>
    <add key="DataMode" value="true"/>
    <add key="tickerLineType" value="3"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
